<h1> Your Listings </h1>


<h2> Active Listings </h2>
<div *ngFor="let apartment of apartments">
  <a *ngIf="apartment.is_active" (click)="selectApartment(apartment)">
    {{ apartment.address }}</a>
</div>


<h2> Inactive Listings </h2>
<div *ngFor="let apartment of apartments">
  <a *ngIf="!apartment.is_active" (click)="selectApartment(apartment)">
    {{ apartment.address }}</a>
</div>

<app-apartment-detail 
  *ngIf="selectedApartment"
  [apartment]="selectedApartment"
  ></app-apartment-detail>

  <button  *ngIf="selectedApartment"
          (click)="hideStuff()">Hide details</button>

  



